@font-face {
    font-family: "Montserrat";
    src: url(./defaultFont/Montserrat-Thin.woff2) format(woff2);
    src: url(./defaultFont/Montserrat-Thin.woff) format(woff);
}

@font-face {
    font-family: "Norse-Bold";
    src: url(./norseFont/Norse-Bold.woff2) format(woff2);
    src: url(./norseFont/Norse-Bold.woff) format(woff);
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;

}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    font-size: 1em;

}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}




table {
    border-color: currentcolor;
}


button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}



button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}


legend {
    padding: 0;
}


progress {
    vertical-align: baseline;
}



::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}



[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


::-webkit-search-decoration {
    -webkit-appearance: none;
}


::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}



summary {
    display: list-item;
}

/* ELEMENT SELECTORS */
html,
body {
    font-family:
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    background-color: rgb(239, 237, 235);
}


label {
    margin-bottom: 5px;
    font-family: "Montserrat";
    color: #444445;
    font-size: .75rem;
    font-weight: 600;
}

input {
    border-radius: 7px;
    padding: 3px;
    border: solid 2px #E5E7EB;
}

input:focus {
    border: 1px solid #3f79ef;
    box-shadow: 3px 3px 5px rgb(174, 174, 174);
}

input:invalid {
    border: 2px solid rgb(199, 27, 27)
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #596D48;
}

h2 {
    max-inline-size: 44ch;
}

footer,
footer>a {
    color: rgba(237, 237, 237, 0.694);
}

footer>a {
    text-decoration: underline;
}

/* CLASS SELECTORS */
.wrapper {
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}

/* IMAGE & HERO TEXT SELECTORS */

.imageContainer {
    position: relative;
    min-width: 25vw;
    max-width: 25vw;
}

#grassImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#odinText {
    position: absolute;
    top: 27vh;
    left: 12vw;
    font-family: "Norse-Bold";
    color: white;
    font-size: max(4vw, 100%);
}

#odinLogo {
    position: absolute;
    width: max(4vw, 4vw);
    top: 26vh;
    left: 7vw;
}

#transBG {
    position: absolute;
    top: 25vh;
    width: max(4vw, 100%);
    height: max(4vw, 6vw);
    background-color: rgba(25, 25, 25, 0.542);
}

#imgCred {
    position: absolute;
    top: 98vh;
    left: 8vw;
}

.splashText {
    margin-top: 50px;
    padding: 2rem;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.5;
}

/* FORM SELECTORS */

.formContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px 0px 15px 0px;
    box-shadow: 10px 5px 5px rgb(174, 174, 174);
    border: solid 2px rgba(174, 174, 174, 0.374);
}

.form-row {
    display: flex;
    margin: 7px;
    padding-left: 25px;
}

.form-group {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form-group>h2 {
    font-size: 2rem;
    color: #2b2b2c;
    font-weight: 600;
}

.col2 {
    margin-left: 50px;
}

/* BUTTON & LOGIN TEXT */

.createBtn {
    font-size: 1.15rem;
    color: rgb(255, 243, 243);
    background-color: #596d48f1;
    border-color: #596d4858;
    border-radius: 10px;
    padding: 12px 10px;
    box-shadow: 3px 3px 5px grey;
}

.createBtn:hover {
    cursor: pointer;
}

.button-row {
    display: flex;
    margin: 10px;
}

.button-group {
    margin-left: 30px;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#logIn {
    margin-top: 40px;
}